<div>
  <div class="modal-header">
    <h3>Select your users</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped" ng-show="users.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td ng-click="select(user)" ng-class="{'bg-success': isSelected(user._id)}">{{user._id}}</td>
          <td ng-click="select(user)" ng-class="{'bg-success': isSelected(user._id)}">{{user.username}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
</div>