<h1 class="page-header">User management</h1>
<tabset>
  <tab heading="Users">
    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>
          <button class="btn btn-success" ng-click="edit(user)"><i class="fa fa-cog"></i></button>
          <button class="btn btn-danger" ng-click="remove(user, $index)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input ng-model="newName" type="text" placeholder="New username" class="form-control input-md">
          </div>
        </td>
        <td>
          <button class="btn btn-success" ng-click="add(newName)"><i class="fa fa-plus"></i> New user</button>
        </td>
      </tr>
    </table>
  </tab>
  <tab heading="Roles">
    <table class="table table-striped">
      <tr>
        <th>Role name</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="role in roles">
        <td>{{role.name}}</td>
        <td>
          <button class="btn btn-success" ng-click="editrole(role)"><i class="fa fa-cog"></i></button>
          <button class="btn btn-danger" ng-click="removerole(role, $index)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input ng-model="newRole" type="text" placeholder="New role name" class="form-control input-md">
          </div>
        </td>
        <td>
          <button class="btn btn-success" ng-click="addrole(newRole)"><i class="fa fa-plus"></i> New role</button>
        </td>
      </tr>
    </table>
  </tab>
</tabset>