<h1 class="page-header">Users</h1>
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>{{user.username}}</td>
    <td>
      <button class="btn btn-success" ng-click="edit(user)"><i class="fa fa-cog"></i></button>
      <button class="btn btn-warning" ng-click="flush(user)"><i class="fa fa-refresh"></i></button>
      <button class="btn btn-danger" ng-click="remove(user, $index)"><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <input ng-model="newName" type="text" placeholder="New username" class="form-control input-md">
      </div>
    </td>
    <td>
      <button class="btn btn-success" ng-click="add(newName)"><i class="fa fa-plus"></i> New user</button>
    </td>
  </tr>
</table>